@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    color: hsl(238, 29%, 16%);
    min-height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: grid;
    place-items: center;
    padding: 2rem;

}

.card{
    
    background-color: #fff;
    border-radius: 15px;
    width: 80vw;
    padding-bottom: 3rem;
    margin-top: 4rem;
    box-shadow:  0px 17px 20px -3px rgba(0,0,0,0.5)

    ;
    
}
.card-left{
    margin-bottom: -4rem;
    background-image: url(images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    
}
.main-pic{
    
}
.woman-mobile{
    display: block;
    position: relative;
    top:-110px;
    left: -14px;
    margin: auto;

}

.woman-desktop{
    display: none;
}

.box{
    display: none;
}


.card-right{
    align-self: center;
    overflow:hidden;
}
.card-right > h1{
    font-size: 1.8rem;
    text-align: center;
}
.list{
    margin-top: 1rem; 
   
}
details{
    padding: 0 1.5rem;
    position: relative;
}

summary {
    list-style: none;
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    
}

summary:hover{
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

summary::after{
    content:url(images/icon-arrow-down.svg);
    margin-left: 1rem;
}
.details-content{
    font-size: 0.7rem;
    padding-bottom: 1rem; 
    border-bottom: 1px solid hsl(240, 5%, 91%);
    line-height: 1.5;
}
details[open] summary{
    font-weight:700;
    border: none;
}
details[open] > summary::after{
    transform: rotate(180deg)
}


@media(min-width: 1025px){
    .card{
        width: 900px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .card-left{
        height: 100%;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: bottom 25% right -15%;
        position: relative;
    }
    .main-pic{
        display:flex;
        align-items: center;
        overflow: hidden;
        height: 100%;
        width: auto;
    }
    .woman-mobile{
        display: none;
    }
    .woman-desktop{
        display: block;
        transform: translate(-75px, -30px);
    }
    .box{
        display: block;
        position: absolute;
        top: 35%;
        left: -20%;
        transition: transform 250ms ease-in;
    }
    .box.on-hover{
        transform: translateX(-20%);
    }
    main{
        width: 100%;
    }
    .card-right h1{
        font-size: 2rem;
        padding-left: 0;
        text-align: left;
    }
    summary{
        font-size: 0.9rem;
    }
    details{
        padding: 0;
        padding-right: 7rem;
    }
    .details-content{
        padding-right: 1rem;
        font-size: 0.8rem;
    }
}


.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 1rem;
}
.attribution a { color: hsl(228, 45%, 44%); }